PORT=3000
FRONTEND_ORIGIN=http://localhost:4200

MONGODB_URI=mongodb://localhost:27018/tradertavern

JWT_SECRET=change-me-in-local-env
JWT_EXPIRES_IN=1d

AUTH_COOKIE_NAME=access_token

RESET_PASSWORD_TOKEN_TTL_MINUTES=30
